* {
  font-family: Bookman;
}

td {
  vertical-align: top;
}

.hidden * {
  display: none;
}

.turned {
  transform: rotate(180deg);
}

footer * {
  font-size: 70%;
  margin: 5px;
  text-align: right;
}

#nav {
  width: 100%;
  text-align: center;
}

#nav a {
  text-decoration: none;
  color: black;
}

/* navbar */

nav {
  overflow: hidden;
  padding: 5pt;
  margin-top: 5pt;
  border-radius: 3pt;
  background: lightgrey;
  width: 100%;
}

nav a {
  float: left;
  color: #888;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
}

nav a:hover {
  background-color: #555;
}

/* flippin' cards */

.card-container {
  perspective: 600px;
}

.card {
  position: relative;
  width: 237px;
  height: 400px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card img {
  border-radius: 8pt;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.face--front {
  transform: rotateY(180deg);
}

.face--front.turned {
  transform: rotateY(180deg) rotate(180deg);
}

.buttons {
  margin-top: 10pt;
}
