<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tarot trainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <style>
      * {
        font-family: Bookman;
      }
      td {
          vertical-align: top;
      }
      .hidden * {
          color: white;
          border-color: white;
      }
      .turned {
          transform: rotate(180deg);
      }
      nav {
        overflow: hidden;
        background-color: darkgrey;
        margin: 3pt;
        border-radius: 3pt;
      }
      nav a {
        float: left;
        color: white;
        text-align: center;
        padding: 8px 8px;
        text-decoration: none;
      }
      nav a:hover {
        background-color: #555;
      }
      footer * {
        font-size: 70%;
        margin: 5px;
        text-align: right;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body class="container">
    <nav>
      <h1 style="padding-left: 3pt; margin-bottom: 0;">Tarot trainer </h1>

      <a href="{{ url_for('overview') }}">Overzicht</a>
      <a href="{{ url_for('symbols') }}">Symboliek</a>
      <a href="{{ url_for('cards') }}">Kaartlegging</a>
      <a href="{{ url_for('turned') }}" class="turned">Kaartlegging</a>
      <a href="{{ url_for('study') }}">Uitleg</a>
      <a href="{{ url_for('question') }}">Quiz</a>
    </nav>

    {% set ROMANS = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'] %}
    {% set getallenEN = ['Aas'] + ROMANS[1:] %}
    {% set HOFKAARTEN = ['Page', 'Ridder', 'Koningin', 'Koning'] %}
    {% set PLAATJES = ['Aas'] + HOFKAARTEN %}
    {% set KAARTEN = getallenEN + HOFKAARTEN %}
    {% block content %}{% endblock content %}
    <footer>
    <hr/><p>&copy; 2018 - <script>document.write(new Date().getFullYear())</script></p>
    </footer>
  </body>
</html>
