<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tarot trainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <style>
      * {
        font-family: Bookman;
      }
      td {
          vertical-align: top;
      }
      .hidden * {
          color: white;
          border-color: white;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body class="container">
    <h1><a href="{{ url_for('index') }}">Tarot trainer</a></h1>
    {% set ROMANS = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'] %}
    {% set NUMMERKAARTEN = ['Aas'] + ROMANS[1:] %}
    {% set HOFKAARTEN = ['Page', 'Ridder', 'Koningin', 'Koning'] %}
    {% set PLAATJES = ['Aas'] + HOFKAARTEN %}
    {% set KAARTEN = NUMMERKAARTEN + HOFKAARTEN %}
    {% block content %}{% endblock content %}
  </body>
</html>
