{% extends "base.jinja2" %}


{% macro card_info(card, nr) %}
<div class="{{hidden}} explanation">
    <table>
        {% if card.kleur == 'groot' %}
            {% if nr > 0 and nr <= 10 %}
                <tr><td>grote arcana I-X:</td><td>{{symbols.get('grote arcana 1-10')}}</td></tr>
            {% elif nr > 10 and nr <= 20 %}
                <tr><td>grote arcana XI-XX:</td><td>{{symbols.get('grote arcana 11-20')}}</td></tr>
            {% endif %}
        {% else %}
            <tr><td>{{card.kleur}}:</td><td>{{symbols.get(card.kleur)}}</td></tr>
            {% if card.naam in ['Aas', 'Page', 'Ridder', 'Koningin', 'Koning'] %}
                <tr><td>{{card.naam}}:</td><td>{{symbols.get(card.naam)}}</td></tr>
            {% endif %}
            {% if card.naam == 'Aas' %}
            {% elif card.getal %}
                <tr><td>getallen:</td><td>{{symbols.get('getallen')}}</td></tr>
            {% else %}
                <tr><td>hofkaart:</td><td>{{symbols.get('hofkaart')}}</td></tr>
            {% endif %}
        {% endif %}
        <tr><td>nummer:</td><td>{{card.nummer}}</td></tr>
        {% for field in ['kernwoord', 'steekwoorden', 'uitnodiging', 'waarschuwing', 'opmerking'] %}
            {% if card[field] %}
                <tr><td>{{field}}:</td><td>{{card[field]}}</td></tr>
            {% endif %}
        {% endfor %}
    </table>
    <h3>Symbolen</h3>
    <table>
        {% for symbol in card['symbolen'] %}
            <tr><td>{{symbol}}:</td><td>{{symbols.get(symbol)}}</td></tr>
        {% endfor %}
    </table>
</div>
{% endmacro %}


{% block head %}
    <script src="{{ url_for('static', filename='cards.js') }}"></script>
{% endblock %}


{% macro card_src(card) %}
    <p>Zie ook:</p>
    <ul>
        <li><a href="{{card.pictorialkey()}}" target="waite">Pictorial Key to the Tarot</a> (Eng.)</li>
        <li><a href="{{card.stapvoorstap()}}" target="stap">Tarot Stap voor Stap</a></li>
        <li><a href="{{card.kaartensterren()}}" target="kes">Kaart en Sterren</a></li>
        {% if card.kleur == 'groot' %}
            <li><a href="{{card.spiridoc()}}" target="spiri">Spiridoc</a></li>
        {% endif %}
    </ul>
{% endmacro %}


{% block content %}
    {% set title = card | string %}
    <h3>{{title[0].upper()}}{{title[1:]}}</h3>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename=card.img) }}" height=400>
                {{ card_src(card) }}
                <hr/>
                {% block navigation %}{% endblock %}

            </td>
            <td>
                {{ card_details(card) }}
            </td>
        </tr>
    </table>
{% endblock %}
