{% extends "base.jinja2" %}


{% block content %}
    <li><a href="{{ url_for('overview') }}">Overzicht</a></li>
    <li><a href="{{ url_for('symbols') }}">Symboliek</a></li>
    <li><a href="{{ url_for('cards', nr=3) }}">Kaartlegging</a> (3 willekeurige kaarten)</li>
    <li><a href="{{ url_for('turned', nr=3) }}">Kaartlegging</a> (met willekeurige, mogelijk gedraaide kaarten)</li>
    <li>Beknopte <a href="{{ url_for('study') }}">Handleiding</a></li>
    <li><a href="{{ url_for('question') }}">Quiz</a></li>
{% endblock content %}
