{% extends "base.jinja2" %}

{% block content %}
<h2>{% block title %}Welkom{% endblock %}</h2>

<p>Op deze site heb ik kennis van Tarot verzameld. Deze kennis komt uit verschillende bronnen, waaronder:
<li><a target="_blank" href="https://en.wikisource.org/wiki/The_Pictorial_Key_to_the_Tarot">The Pictorial Key To The Tarot (Illustrated)</a> van Arthur Edward Waite en de vertaalde betekenissen in het kleinde boekje bij mijn kaarten.</li>
<li><a target="_blank" href="https://tarotstapvoorstap.nl">Tarot Stap voor Stap</a></li>
<li><a target="_blank" href="http://www.inspiratiesite.nl/TAROT HANDLEIDING.pdf">Tarot handleiding</a> van Jan de Graaf.</li>
<li><a target="_blank" href="https://nl.wikipedia.org/wiki/Tarot">wikipedia</a> en een <a href="https://nl.wikibooks.org/wiki/Tarot">wikibook</a></li>
<li><a target="_blank" href="https://www.tijdgeest.eu/orakels/tarotkaarten">Tijdgeest</a></li>
<li><a target="_blank" href="http://www.kaartensterren.nl/pagina's/tarot%201.html">Kaart en sterren</a></li>
<li><a target="_blank" href="http://www.spiridoc.nl/tarot_intro.htm">Spiridoc</a></li>
<li><a target="_blank" href="https://tallsay.com/page/4294988601/tarot-archetypen-naar-de-ontwikkelingspsychologie-van-carl-gustav-jung">Archetypes</a> van de Grote Arcana.</li>
</p>
<p>Bij verschillen tussen de bronnen heb ik intuïtief mijn voorkeur gekozen.</p>

<p>Om mij te helpen om de betekenissen van de kaarten te onthouden, heb ik elke kaart een kernwoord toegenkend. 
Dit kernwoord is persoonlijk, waarbij ik heb geprobeerd om binnen de geldende duidingen van de betreffende kaart te blijven.</p>

{% block details %}
<p>Via het menu hierboven kunt u de volgende functies kiezen:</p>
<blockquote>
    <dl>
    <dt>Overzicht</dt><dd>Alle kaarten in samenhang bij elkaar.</dd>
    <dt>Symboliek</dt><dd>Uitleg van de symbolen die op de kaarten voorkomen in alfabetische volgorde.</dd>
    <dt>Kaartlegging</dt><dd>Een legging van drie willekeurige kaarten.</dd>
    <dt class="turned" style="text-align: right">Kaartlegging</dt><dd>Een legging van drie willekeurige kaarten die ondersteboven kunnen liggen.</dd>
    <dt>Quiz</dt><dd>Quiz-vragen over eigenschappen van kaarten en betekenissen van symbolen.</dd>
    <dt>Uitleg</dt><dd>Beknopte uitleg over over Tarot.</dd>
    </dl>
</blockquote>
{% endblock details %}
{% endblock content %}
