{% extends "card.jinja2" %}


{% set card = deck.cards[nr] %}


{% macro card_details(card) %}
    {% if hidden %}
        <button onclick="explanation()">Toelichting</button>
    {% endif %}
    {{ card_info(card, nr) }}
{% endmacro %}


{% block navigation %}
    <hr/>
    {{ card_navigation(card) }}
{% endblock %}