{% extends "card.jinja2" %}


{% set card = deck.cards[nr] %}


{% macro card_details(card) %}
    <h2>{{card}}</h2>
    {{ card_info(card, nr) }}
    <hr/>
    {{ card_navigation(card) }}
{% endmacro %}
