{% extends "overview.jinja2" %}


{% block content %}
  <h2>Numerologie</h2>

  <p>Het onderstaande overzicht toont de enkelvoudige getallen en de kaarten die daar bij horen.</p>

  <p>Aanvullende informatie over numerologie:
    <ul>
      <li><a href="https://tarotstapvoorstap.nl/tarot-numerologie/">Tarot stap voor stap</a></li>
      <li><a href="http://www.kaartensterren.nl/pagina's/tarot%203%20getallen.html">Kaarten Sterren</a></li>
    </ul>
  </p>

  <table>
    {% for nr in ROMANS0 %}
      <tr>
        <td>{{nr}}: {{symbols.get(nr)}}</td>
        {% for card in numbers[nr] %}
          <td>
            {{render_card(card, card.nr)}}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
