{% extends "overview.jinja2" %}


{% from "macros.jinja2" import ROMANS0 %}


{% block cards %}
  <h2>Numerologisch overzicht ({{order | title}})</h2>
<p>Het onderstaande overzicht toont de enkelvoudige getallen en de kaarten die daar bij horen.</p>

<table>
  <tr><td colspan=10 style="text-align: left"><h3>Grote arcana</h3></td></tr>
  <tr>
    {% for nr in ROMANS0 %}
      <td>{{nr}}: {{symbols.get(nr)}}</td>
    {% endfor %}
  </tr>
  <tr>
    {{render_cards(cards.groot[0:10])}}
  </tr>
  <tr>
    <td>&nbsp;</td>
    {{render_cards(cards.groot[10:19])}}
  </tr>
  <tr>
    <td>&nbsp;</td>
    {{render_cards(cards.groot[19:22])}}
  </tr>
  <tr><td colspan=10 style="text-align: left"><h3>Kleine arcana</h3></td></tr>
  <tr>
    <td>&nbsp;</td>
    {% for nr in ROMANS[:9] %}
      <td>{{nr}}: {{symbols.get(nr)}}</td>
    {% endfor %}
  </tr>
  {% for suit in suits %}
    {% set row = cards[suit] %}
    <tr>
      <td rowspan=2>{{suit | title }}: {{ symbols.get(suit) }}</td>
      {{ render_cards(row[0:9]) }}
    </tr>
  <tr>
    {{ render_cards(row[9:14]) }}
  </tr>
{% endfor %}
</table>

<p>Aanvullende informatie over numerologie:
  <ul>
    <li><a href="https://tarotstapvoorstap.nl/tarot-numerologie/">Tarot stap voor stap</a></li>
    <li><a href="http://www.kaartensterren.nl/pagina's/tarot%203%20getallen.html">Kaarten Sterren</a></li>
  </ul>
</p>
{% endblock cards %}
