{% extends "base.jinja2" %}

{% from "macros.jinja2" import render_card, render_cards, ROMANS, HOFKAARTEN %}


{% block head %}
  <style>
    td {
    text-align: center;
    }
  </style>
{% endblock head %}

{% block content %}
  {% block cards %}
    <h2>Overzicht ({{order | title}})</h2>
    <h3>Grote arcana</h3>
    <table>
      <tr>
        <td>&nbsp;</td>
        <td>{{render_card(cards.groot[0])}}</td>
        <td colspan=8>&nbsp;</td>
        <td>{{render_card(cards.groot[21])}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        {% for nr in ROMANS %}
          <td>{{nr}}: {{symbols.get(nr)}}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>I-X: {{symbols.get('grote arcana 1-10')}}</td>
        {{render_cards(cards.groot[1:11])}}
      </tr>
      <tr>
        <td>XI-XX: {{symbols.get('grote arcana 11-20')}}</td>
        {{render_cards(cards.groot[11:21])}}
      </tr>
    </table>

    <h3>Kleine arcana</h3>
    <table>
      <tr>
        <td>&nbsp;</td>
        {% if order == "waite" %}
        <td>&lt;</td>
        <td colspan=2>Hof: {{symbols.get('hofkaart')}}</td>
        <td>&gt;</td>
        <td>&lt;</td>
        <td colspan=7>Getallen: {{symbols.get('getallen')}}</td>
        <td>&gt;</td>
          <td>&lt; Aas: {{symbols.get('aas')}} &gt;</td>
        {% else  %}
          <td>&lt; Aas: {{symbols.get('aas')}} &gt;</td>
        <td>&lt;</td>
        <td colspan=7>Getallen: {{symbols.get('getallen')}}</td>
        <td>&gt;</td>
        <td>&lt;</td>
        <td colspan=2>Hof: {{symbols.get('hofkaart')}}</td>
        <td>&gt;</td>
        {% endif  %}
      </tr>
      <tr>
        <td>&nbsp;</td>
        {% set cols = ROMANS + HOFKAARTEN %}
        {% if order == "waite" %}
          {% for nr in cols | reverse %}
            <td>{{nr}}: {{symbols.get(nr)}}</td>
          {% endfor %}
        {% else %}
          {% for nr in cols %}
            <td>{{nr}}: {{symbols.get(nr)}}</td>
          {% endfor %}
        {% endif %}
      </tr>
      {% for suit in suits %}
        <tr>
          <td>{{suit | title}}: {{symbols.get(suit)}}</td>
          {% set row = cards[suit] %}
          {% if order == "waite" %}
            {{ render_cards(row | reverse) }}
          {% else %}
            {{ render_cards(row) }}
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endblock cards %}

  <p>
    Zie ook het
    {% if num %}
      <a href="{{url_for('overview', num=False, order=order)}}">schematisch overzicht</a>.
    {% else %}
      <a href="{{url_for('overview', num=True)}}">numerologische overzicht</a>.
    {% endif %}
    Of verander de volgorde van {{order}} naar
    {% for o in ["klassiek", "waite"] %}
      {% if o != order %}
        <a href="{{ url_for('overview', order=o, num=num)}}">{{o}}</a>
      {% endif %}
    {% endfor %}.
  </p>
{% endblock content %}
