{% extends "base.jinja2" %}


{% block content %}
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename=question.answer.img) }}" height=400>
            </td>
            <td>
                <script src='{{ url_for('static', filename='question.js') }}'></script>
                <h2>Quiz-vraag</h2>
                
                <p>{{question}}</p>

                {% set answer = question.answer.get_attr(question.attr, false) %}
                <p>
                {% for option in question.options %}
                    {% if loop.index == question.nr + 1 %}
                        <button onclick="check()">{{answer}}</button><br/>
                    {% else %}
                        {% set wrong = option.get_attr(question.attr, false) %}
                        <button onclick="check('<p>{{wrong | striptags}} hoort bij {{option}}.<br/>Het goede antwoord was: {{answer | striptags}}<p>')">{{wrong}}</button><br/>
                    {% endif %}
                {% endfor %}
                </p>
                <p id="result"></p>
                <div id="next" style="display: none">
                    <p><a href="{{ url }}">Meer informatie</a> over {{question.answer}}.</p>
                    <button onclick="location.reload()">Volgende</button>
                </div>
            </td>
        </tr>
    </table>
{% endblock content %}
