{% extends "card.jinja2" %}


{% macro card_details(card) %}
    <script src='{{ url_for('static', filename='question.js') }}'></script>
    {{question}}

    {% set answer = question.card.get(question.attr) %}
    {% set answer_nr = question.answer() + 1 %}
    <p>
    {% for card in question.cards %}
        {% if loop.index == answer_nr %}
            <button onclick="check()">{{answer}}</button><br/>
        {% else %}
            {% set option = card.get(question.attr) %}
            <button onclick="check('<p>{{option}} hoort bij {{card}}.<br/>Het goede antwoord was: {{answer}}<p>')">{{option}}</button><br/>
        {% endif %}
    {% endfor %}
    </p>
    <p id="result"></p>
    <div id="next" style="display: none">
        <p><a href="{{ url_for('card', nr=nr) }}">Meer informatie</a> over {{question.card}}.</p>
        <button onclick="location.reload()">Volgende</button>
    </div>
{% endmacro %}
