{% extends "overview.jinja2" %}

{% from "base.jinja2" import ROMANS0 %}

{% set number = ROMANS0[card.get_nummer()] %}

{% block content %}
  <h2>Gerelateerd aan {{card}}</h2>
  <table>
    <tr><td>&nbsp;</td><td>{{render_card(card)}}</td></tr>
    <tr><td>{{symbols.link_for_name(number)}}</td>
      {% for rel in deck.numbers[number] %}
        {% if rel != card %}
          <td>{{render_card(rel)}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% for sym in card.symbolen %}
      {% set symbol = symbols.symbolen[sym] %}
      <tr><td>{{symbols.link_for_name(sym)}}</td>
        {% for rel in symbol.cards %}
          {% if rel != card %}
            <td>{{render_card(rel)}}</td>
          {% endif %}
        {% endfor %}
      {% endfor %}
  </table>
{% endblock content %}
