{% extends "base.jinja2" %}

{% macro list_cards(cards) %}
    {% for card in cards %}
        <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
    {% endfor %}
{% endmacro %}


{% block content %}
<h2>Nummers</h2>
<ul>
    {% for nr in ROMANS %}
        <li>{{nr}}: {{symbols.get(nr)}}</li>
    {% endfor %}
</ul>

<h2>Grote arcana</h2>
<ul>
    {% set card = deck.cards[0] %}
    <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
    <li>I-X: {{symbols.get('grote arcana 1-10')}}</li>
    <ul>
        {% for card in deck.cards[1:10] %}
            <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
        {% endfor %}
    </ul>
    <li>XI-XX: {{symbols.get('grote arcana 11-20')}}</li>
    <ul>
        {% for card in deck.cards[10:20] %}
            <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
        {% endfor %}
    </ul>
    {% set card = deck.cards[21] %}
    <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
</ul>

<h2>Kleine arcana</h2>
<h3>Series</h3>
<ul>
    {% for serie in ['Staven', 'Pentakels', 'Zwaarden', 'Kelken'] %}
        <li>{{serie}}: {{symbols.get(serie)}}</li>
    {% endfor %}
</ul>
De volgorde van de series is relevant:
<ol>
    <li>staven: het idee</li>
    <li>pentakels: vorm geven aan het idee</li>
    <li>zwaarden: begrijpen van het idee (afstand en overzicht)</li>
    <li>kelken: eigen maken van het idee (inleven)</li>
</ol>

<h3>Kaartsoorten</h3>
<h4>Deelseries</h4>
<ul>
    {% for serie in ['Nummerkaart', 'Hofkaart'] %}
        <li>{{serie}}: {{symbols.get(serie)}}</li>
    {% endfor %}
    <ul>
        {% for card in HOFKAARTEN %}
            <li>{{card}}: {{symbols.get(card)}}</li>
        {% endfor %}
    </ul>
</ul>

Voor de Nummerkaarten, zie "Nummers". Voor de "Aas", zie "I".
{% endblock content %}
