{% extends "base.jinja2" %}

{% macro list_cards(cards) %}
    {% for card in cards %}
        <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
    {% endfor %}
{% endmacro %}


{% block content %}
<h2>Beknopte uitleg</h2>

<p>Op deze site heb ik kennis van Tarot verzameld. Deze kennis komt uit verschillende bronnen, waaronder:
<li>Het kleinde boekje bij mijn kaarten.</li>
<li><a href="https://tarotstapvoorstap.nl">Tarot Stap voor Stap</a></li>
<li><a href="http://www.inspiratiesite.nl/TAROT HANDLEIDING.pdf">Tarot handleiding</a> van Jan de Graaf.</li>
<li><a href="https://nl.wikipedia.org/wiki/Tarot">wikipedia</a> en een <a href="https://nl.wikibooks.org/wiki/Tarot/">wikibook</a></li>
</p>
<p>Bij verschillen tussen de bronnen heb ik intuïtief mijn voorkeur gekozen.</p>

<h3>Nummers</h3>
<ul>
    {% for nr in ROMANS %}
        <li>{{nr}}: {{symbols.get(nr)}}</li>
    {% endfor %}
</ul>

<h3>Kaarten</h3>
<ul>
    <li>Arcana: {{symbols.get('arcana')}}</li>
    <li>Grote Arcana (troeven): {{symbols.get('grote arcana')}}</li>
    <ul>
        {% set card = deck.cards[0] %}
        <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
        <li>I-X: {{symbols.get('grote arcana 1-10')}}</li>
        <ul>
            {% for card in deck.cards[1:10] %}
                <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
            {% endfor %}
        </ul>
        <li>XI-XX: {{symbols.get('grote arcana 11-20')}}</li>
        <ul>
            {% for card in deck.cards[10:20] %}
                <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
            {% endfor %}
        </ul>
        {% set card = deck.cards[21] %}
        <li>{{card.nummer}} {{card.naam}}: {{card.kernwoord}}
    </ul>

    <li>Kleine Arcana: {{symbols.get('kleine arcana')}}</li>
    <ul>
        <li>Kleuren</li>
            <ul>
                {% for serie in ['Staven', 'Pentakels', 'Zwaarden', 'Kelken'] %}
                    <li>{{serie}}: {{symbols.get(serie)}}</li>
                {% endfor %}
            </ul>
        <li>De volgorde van de kleuren is relevant:</li>
            <ol>
                <li>staven: het idee</li>
                <li>pentakels: vorm geven aan het idee</li>
                <li>zwaarden: begrijpen van het idee (afstand en overzicht)</li>
                <li>kelken: eigen maken van het idee (inleven)</li>
            </ol>
        <li>Deelseries</li>
            <ul>
                <li>Nummerkaart: {{symbols.get('Nummerkaart')}}</li>
                <ul>
                    <li>zie "Nummers"</li>
                    <li>Voor de "Aas", zie "I".</li>
                </ul>
                <li>Hofkaart: {{symbols.get('Hofkaart')}}</li>
                <ul>
                    {% for card in HOFKAARTEN %}
                        <li>{{card}}: {{symbols.get(card)}}</li>
                    {% endfor %}
                </ul>
            </ul>
    </ul>
{% endblock content %}
