{% extends "index.jinja2" %}

{% from "macros.jinja2" import ROMANS %}


{% macro card_details(card) %}
    <li>{{card}}: {{card.kernwoord}}</li>
{% endmacro %}


{% macro list_cards(cards) %}
    <ul>{% for card in cards %} {{ card_details(card) }} {% endfor %}</ul>
{% endmacro %}


{% block title %}Beknopte uitleg{% endblock %}


{% block details %}
<p>Hieronder volgt een beknopte opsomming van sommige gegevens uit bovenstaande bronnen:</p>
<h3>Getallen</h3>
<ul>
    {% for nr in ROMANS %}
        <li>{{nr}}: {{symbols.get(nr)}}</li>
    {% endfor %}
</ul>

<h3>Kaarten</h3>
<ul>
    <li>Arcana: {{symbols.get('arcana')}}</li>
    <li>Grote Arcana (troeven): {{symbols.get('grote arcana')}}</li>
    <ul>
        {{ card_details(deck.cards[0]) }}
        <li>I-X: {{symbols.get('grote arcana 1-10')}}</li>
            {{ list_cards(deck.cards[1:10]) }}
        <li>XI-XX: {{symbols.get('grote arcana 11-20')}}</li>
            {{ list_cards(deck.cards[10:20]) }}
        {{ card_details(deck.cards[21]) }}
    </ul>
    <li>Grote Arcana: indeling naar levensfasen</li>
        <ul>
            <li>O: Geboorte / De vonk</li>
            <li>I-V: Jeugd / Drijfveren</li>
            <li>VI-XII: Volwassen / Zelfontdekking / Het IK</li>
            <li>XIII-XXI: Ouderdom / Inpassing / Bestemming</li>
        </ul>
    <li>Grote Arcana: <a href="http://www.spiridoc.nl/grotearcana/grarc_inleiding.htm">indeling</a> naar bewustzijn</li>
        <ul>
            <li>O-VII: Bewustzijn</li>
            <li>VIII-XIV: Het onderbewuste / Zelfontdekking</li>
            <li>XV-XXI: Het bovenbewuste</li>
        </ul>
    <li>Waite heeft {{deck.cards[8]}} en  {{deck.cards[11]}} zonder verdere toelichting omgedraaid. Op deze site doe ik dat <i>niet</i>.</li>
    <li>Kleine Arcana: {{symbols.get('kleine arcana')}}</li>
    <ul>
        <li>Kleuren</li>
            <ul>
                {% for kleur in ['Staven', 'Pentakels', 'Zwaarden', 'Kelken'] %}
                    <li>{{kleur}}: {{symbols.get(kleur)}}</li>
                {% endfor %}
            </ul>
        <li>De volgorde van de kleuren is relevant:</li>
            <ol>
                <li>staven: het idee</li>
                <li>pentakels: vorm geven aan het idee</li>
                <li>zwaarden: begrijpen van het idee (afstand en overzicht)</li>
                <li>kelken: eigen maken van het idee (inleven)</li>
            </ol>
        <li>Waite hanteert de volgorde: staven, kelken, zwaarden, pentakels. En hij beschrijft de kaarten per kleur van Koning tot Aas.</li>
        <li>Deelseries</li>
            <ul>
                <li>getallen: {{symbols.get('getallen')}}</li>
                <ul>
                    <li>zie "Getallen"</li>
                    <li>Voor de "Aas", zie "I".</li>
                </ul>
                <li>Hofkaart: {{symbols.get('Hofkaart')}}</li>
                <ul>
                    {% for card in HOFKAARTEN %}
                        <li>{{card}}: {{symbols.get(card)}}</li>
                    {% endfor %}
                </ul>
            </ul>
    </ul>
{% endblock details %}
