{% extends "base.jinja2" %}


{% block content %}
    <h2>Symboliek</h2>
    <table>
        {% for name, symbol in symbols.symbolen.items() | sort %}
            <tr>
                <td><a name="{{symbol}}"></a>{{symbol}}</td>
                <td>{{symbols.get(name)}}</td>
                <td>
                    {% for card in symbol.cards %}
                        {{ deck.link(card) }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
